telegram:
  token: telegram_token
  chat_id: chat_id

script:
  - type: random_message
    messages:
      - Buen día, Betz 👋🏽
      - Hola Eze 😀
      - Cómo va, dude!? 🤖
  - type: dollar
  - type: random_gif
    tags:
      - morning
      - hello
  - type: weather
    city: Buenos Aires
  - type: weather_forecast
    lat: -34.586217
    lon: -58.477769
  - type: covid
    country: argentina
  - type: vaccines
    text_summary_enabled: true
    graph_labels_interval: 2
    graph_period_days: 14

giphy:
  token: giphy_token

openweather:
  token: openweather_token
